    {%- if page.sequence -%}
      {%- if page.tag == "grad" -%}
        {%- assign all_pages = site.GradContent -%}
      {%- else -%}
        {%- assign all_pages = site.UndergradContent -%}
      {%- endif -%}  
      {% assign next_pages = all_pages | where_exp: "item", "item.sequence > page.sequence" | sort: "sequence" %}
      {% assign prev_pages = all_pages | where_exp: "item", "item.sequence < page.sequence" | sort: "sequence" %}

    <div class="wrapper">
    <div class="navbar">
        <span class="navbar-left"> 
            
        {% if prev_pages.size > 0 %}
            <a href="{{ prev_pages.last.url | relative_url }}">PREVIOUS</a>
        {% endif %}
    </span>

        <span class="navbar-right"> 
        {% if next_pages.size > 0 %}
            
            <a href="{{ next_pages.first.url | relative_url }}">NEXT</a>
        {% endif %}
    </span>
    </div>
    </div>
    {%- endif -%}

